@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --color-background: #FFEBEB;
    --color-primary: #C23F3F;

    // --gradient-background:

    // --color-accent: 

    // --color-foreground:  text color;

    --color-heading: #0D0D0D;
    --color-white: #ffffff;

    // --color-shadow: 

    // --color-primary-button: 

    // --color-primary-button-text:

    // --color-primary-button-hover: 

    // --color-primary-button-hover-text: 

    // --color-primary-button-outline:

    // --color-primary-button-outline-hover: 

    // --color-secondary-button: 

    // --color-secondary-button-text:

    // --color-secondary-button-hover:

    // --color-secondary-button-hover-text: 

    // --color-secondary-button-outline: 

    // --color-secondary-button-outline-hover: 

    // --color-link: 

    // --color-input:

    // --color-border: 

    // --color-input-outline: 

    // --color-placeholder: 

    // --color-badge-foreground: 

    // --color-badge-background: 

    // --color-badge-border: 

    // --payment-terms-background-color: 


    --primary-font: "Jost", sans-serif;

    --transition-base: 0.3s;

}